.cardprincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
    margin-left: 36%;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 25%;
    border-radius: 10px;
    
}

.cardprincipal h5 {
  
        font-size: 1.8rem;
        font-weight: 400;
        margin: 0;
        font-family: Copperplate, "Copperplate Gothic Light";
        color: rgb(62, 13, 103);
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .cardprincipal h3 {
        font-size: 1.5rem;
        font-weight: 400;
        margin: 0;
        font-family: Copperplate, "Copperplate Gothic Light";
        color: rgb(62, 13, 103);
        align-items: center;
        margin-bottom: 10px;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
        
        
    }
    
