h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    font-family: Copperplate, "Copperplate Gothic Light";
    color: rgb(62, 13, 103);
    background-color: #b2f2f2;
    opacity: 0.9;
   width: 20%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 40%;
    margin-top: 20px;
    margin-bottom: 10px;
    
}

h5 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    font-family: Copperplate, "Copperplate Gothic Light";
    color: rgb(62, 13, 103);
    background-color: #f1e480;
    opacity: 0.9;
   width: 20%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 40%;
    margin-bottom: 82px;
   
    
}