.pag-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style:none;
    margin: 20px;
    width: 40px;
}

.pag-btn {
    cursor: pointer;
    font-family: 'Press Start 2P';
    font-size: larger;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(170, 139, 0);
    color:black
    

    
}

.pag-btn:hover {
    background-color: black;
    color:coral
}
