
.cardComp{
    align-items: center;
    display: flex;
    height: 200px;
    border-radius: 15px; 
    margin: 10px;
    margin-left: 8%;
    margin-right: 8%;
    background-image: linear-gradient(163deg, rgb(252, 6, 6) 0%, rgb(253, 222, 109) 100%);
    transition: all 0.3s;
    box-shadow: 0px 1px 13px rgba(0,0,0,0.5);
}
.cardComp2{
    align-items: center;
    display: flex;
    height: 100%;
    /* background:hsl(244, 38%, 16%); */
    background: rgb(40,40,40);
    border-radius: 15px; 
    width: 105%;
    transition: all 0.3s;
    box-shadow: 0px 1px 13px rgba(0,0,0,0.5);
}

.cardComp2:hover{
    transform: scale(0.99);
   border-radius: 15px;
  }
  
  .cardComp:hover {
    box-shadow: 0px 0px 30px 1px rgba(197, 35, 35, 0.3);
  }


.leftCard{
    width: 300px;
    background:rgb(40,40,40);
    padding: 5px;
    border-radius: 15px;
    }

.rightCard{
width: 100%;   
height: 100%;
background:rgb(40,40,40);
border-radius: 0px 15px 15px 0px;
display: grid;
}



.flag{
   
    max-height: 180px;
    width: 260px;
    border-radius: 15px; 
    object-fit: contain;
      
}
.rightCardBottom{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 0.7em; 
  
}

.items p:nth-of-type(1){
    font-size: 1.5em;
    bottom: 5%;
}

.items p:nth-of-type(2){
    color:hsla(0, 0%, 100%, 0.75);
}

h2{
    font-family: 'Inter', sans-serif;
    color:hsl(0, 0%, 100%);
    width: 100%;
    text-decoration: none;
}

p{
    color:hsl(0, 0%, 100%);
    font-family: 'Lexend Deca', sans-serif;
    Font-size: 15px
}