.home{
    background-color: rgb(49, 49, 49);
    margin: 0;
    height: 100%;
    background-image: URL("../Assets/neon2.jpg");
   background-size: cover; 
    background-position: 100%;
    background-attachment:fixed;
    
}

.bg2{
background-color: rgba(23, 23, 23, 0.83);
    backdrop-filter: blur(3px);

}

.head {
  height: 90px;
}

.tittle{   
  font-size:55px;
  margin-top: 0;
  margin-bottom: 2%;
  color: rgb(255, 255, 255);
  font-size: 70px;
  text-shadow: rgba(218, 17, 17, 0.648) -4px 4px; 
  /* text-shadow: rgba(58, 241, 241, 0.479) -2px 1px; */
  /* text-shadow:
    0 0 5px rgba(52, 232, 232, 0.873),
    0 0 5px rgba(115, 253, 253, 0.887),
    0 0 5px rgba(234, 255, 128, 0.487),
    0 0 5px rgb(38, 198, 198),
    0 0 5px rgb(115, 245, 245),
    0 0 5px rgba(78, 252, 252, 0.692),
    0 0 5px rgb(136, 252, 157),
    0 0 15px rgba(216, 255, 58, 0.755); */
}

.btnshome{
  margin: 2%;
}
.showAll{
  border-radius: 15px;
  cursor: pointer;
    color: white;
    border: 4px solid rgb(21, 21, 21) ;
    font-size: 20px;
    margin: 5px;
    padding: 4px;
    background-color: rgb(40,40,40);
}

.select{   
  display: flex; 
  justify-content: space-around;
  margin: 3%;
  font-size: 14px;
  color: aliceblue;
  border-radius: 10px;
}

.ordershome {
display: flex;
flex-direction: column;
width: 20%;
background-color: rgb(40,40,40);
border-radius: 15px;
border: 4px solid rgb(21, 21, 21) ;
}

.orders2{
  display: flex;
  margin: 10px;
  justify-content: space-between;
}

.orders3{
  display: flex;
flex-direction: column;
}

.filtershome {
  display: flex;
  flex-direction: column;
  margin: 2%;
  }

  .spantittle{
    text-decoration: underline;
    font-size: 16px;
  }



.cards {
    display:grid;
    grid-template-columns: repeat(2, 2fr);
    align-content: center;
    align-items:center;
    width: 100%;
    
    margin-bottom: 5%;
    
   

      
}

  .footer{
    color: rgb(245, 245, 245);
    font-size: 12px;
    text-decoration: underline;
    margin-bottom: 0;
    
  } 

  .paginate {
 margin: 3%;
  }

  .paginate2 {
    margin: 2%;
    
 }